.layout {
  display: grid;
  grid-template-areas:
    "top-header"
    "main-container";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.main-container {
  grid-area: main-container;
}

.top-header {
  grid-area: top-header;
  background: white;
  top: 0;
}