API_ENV=docker-testing
USE_DOCKER=true
DEBUG=true

USE_SCHEDULER=true
USE_LOGGING=true
REFRESH_ON_START=true

USE_MONGODB=false
MONGODB_DBNAME=safety_dashboard_db
MONGODB_HOST=mongodb
MONGODB_PORT=27017

USE_EMAPDB=true
EMAPDB_HOST=localhost
EMAPDB_PORT=5432
EMAPDB_DBNAME=uds
EMAPDB_USER=uds_user
EMAPDB_PASSWORD=uds_pass
EMAPDB_SCHEMA=safety_dashboard_staging
EMAPDB_WRITE=false


CORS_ALLOW_ORIGINS=http://uclvlddpragae08:5813,http://uclvlddpragae12:5813,http://localhost:5813
